<%- include('partials/header.ejs') %>

<div class="back1">
    <div class="back1-h1">
        <h1>Em todos os meios para a Glória de Deus</h1>
    </div>
</div>

<%  blog.forEach((blog)=>{%>
    <section id="show">
        <div class="inside">
            <div class="title"><%= blog.title %></div>
            <div class="image">
                <img src="<%=blog.img_url %>" alt="">
            </div>
            <div class="contents">

                <div class="subtitle"> <h4><%= blog.subtitle %></h4></div>
                <br><br><br>
                <p class="description">
                    <%= blog.description %>
                </p>

             
            </div>
        </div>
    </section>

    <%})  %>



<%- include('partials/footer.ejs') %>